:root {
  --light-color: #fbdb5c;
  --dark-color: #0c1117;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; /* Prevent vertical scroll */
}

.App-content {
  flex: 1;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.App-content {
  background-color: var(--background-color);
}

.loader, .fade-in {
  transition: opacity 1s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  background-color: var(--dark-color);
}

.loader.visible, .fade-in.visible {
  opacity: 1;
}